.INICIO {
    display: flex;
    align-items: center;
    padding: 0 9%;
  }
  
  .inicio-contenido {
    max-width: 60rem;
  }
  .inicio-contenido h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
  }
  .inicio-contenido .text-animate {
    position: relative;
    width: 35rem;
  }
  .inicio-contenido .text-animate h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px rgb(240, 236, 7);
  }
  .inicio-contenido span {
    color: #0bcbec;
  }
  .inicio-contenido p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
  }
  .inicio-sci {
    position: absolute;
    bottom: 4rem;
    width: 250px;
    display: flex;
    justify-content: space-between;
  }
  .inicio-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 3rem 1.5rem 3rem 0;
  }
  .inicio-sci a:hover {
    color: var(--bg-color);
   
  }
  
  .inicio-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 0.5s;
  }
  .inicio-sci a:hover::before {
    width: 100%;
  }
  .img-home {
    position: relative;
  }
  .img-home img {
    position: absolute;
    right: -400px;
    width: 300px;
    height: 330px;
    border-radius: 50%;
    border: 5px solid #d4d000;
  }