
@import url(./css/contacto.css);
@import url(./css/curriculum.css);
@import url(./css/sobreMi.css);
@import url(./css/skill.css);
@import url(./css/inicio.css);
@import url(./css/portfolio.css);
@import url(./css/general.css);

:root {
  --bg-color: #081b29;
  --second-color: #677179;
  --text-color: #ededed;
  --main-color: #00abf0;
  --fill-size: 0%;
}
html{
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;}

body {
  background: rgb(66, 66, 66);
  color: var(--text-color);
}


.SKILLS {
  min-height: auto;
  padding-bottom: 7rem;
  background: rgb(66, 66, 66);
}
.SKILLS h2 {
  margin-bottom: 50px;
}

.SKILLS .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.skills-row .skill-column {
  flex: 1 1 40rem;
}

.skill-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
  display: flex;
  justify-content: center;
}

.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
}
.skills-box .skills-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
}

.skills-content .progress {
  padding: 1rem 0;
}

.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: var(--text-color);
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  padding: 0.5rem;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
}
.skills-content .progress .bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0; 
  height: 100%;
  background-color: var(--main-color);
  animation: fill-bar 0.8s 0.3s ease-in-out forwards;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--main-color);
}

.skill-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 90%; /* Establece el ancho inicial en 0 para que la barra comience vacía */
  background-color: var(--main-color); /* Color de fondo de la barra de carga */
  animation: progress-animation 4s ease-in-out forwards; /* Aplica la animación */
}

.skill-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 90%;
  background-color: var(--main-color);
  animation: progress-animation 4s ease-in-out forwards;
}

.skill-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 85%;
  background-color: var(--main-color);
  animation: progress-animation 4s ease-in-out forwards;
}
.skill-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 90%;
  background-color: var(--main-color);
  animation: progress-animation 4s ease-in-out forwards;
}
.skill-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
  width: 80%;
  background-color: var(--main-color);
  animation: progress-animation 4s ease-in-out forwards;
}
.skill-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span {
  width: 60%;
  background-color: var(--main-color);
  animation: progress-animation 4s ease-in-out forwards;
}
.skill-column:nth-child(1) .skills-content .progress:nth-child(7) .bar span {
  width: 75%;
  background-color: var(--main-color);
  animation: progress-animation 4s ease-in-out forwards;
}

.skill-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 90%;
  background-color: var(--main-color);
  animation: progress-animation 4s ease-in-out forwards;
}
.skill-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 90%;
  background-color: var(--main-color);
  animation: progress-animation 4s ease-in-out forwards;
}
.skill-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 80%;
  background-color: var(--main-color);
  animation: progress-animation 4s ease-in-out forwards;
}
.skill-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 95%;
  background-color: var(--main-color);
  animation: progress-animation 4s ease-in-out forwards;
}
.skill-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
  width: 100%;
  background-color: var(--main-color);
  animation: progress-animation 4s ease-in-out forwards;
}
.skill-column:nth-child(2) .skills-content .progress:nth-child(6) .bar span {
  width: 100%;
  background-color: var(--main-color);
  animation: progress-animation 4s ease-in-out forwards ;
}
.skill-column:nth-child(2) .skills-content .progress:nth-child(7) .bar span {
  width: 100%;
  background-color: var(--main-color);
  animation: progress-animation 4s ease-in-out forwards;
}

@keyframes progress-animation {
  from {
    width: 0; /* Ancho inicial */
  }
}

.progress {
  font-size: 25px;
}






